In [33]:
import pandas as pd

In [65]:
data_path = 'D:\pythonProject\dainstudio_tasks\ESS1-9e01_1\ESS1-9e01_1.csv'
data_df = pd.read_csv(data_path) 
cols = [
    'cntry', # country
    'netustm',  #  Internet use, how much time on typical day, in minutes
    'ppltrst'  #  Most people can be trusted or you can't be too careful
]
data_df = data_df[cols]


netustm_filter = [
    6666, # Not applicable
    7777, # Refusal
    8888, # Don't know
    9999 # No answer
]

ppltrst_filter = [
    77, # Refusal
    88, # Don't know
    99 # No answer
]


data_netustm_df = data_df[~data_df.netustm.isin(netustm_filter)]

data_ppltrst_df = data_df[~data_df.ppltrst.isin(ppltrst_filter)]

In [66]:
# check nan values.
data_clean_df.isnull().mean() * 100

cntry      0.0
netustm    0.0
ppltrst    0.0
dtype: float64

In [67]:
data_netustm_df.shape, data_ppltrst_df.shape

((30113, 3), (44272, 3))

In [74]:
agg_netustm = data_df.groupby('cntry')[['netustm']].mean()

In [75]:
agg_ppltrst = data_df.groupby('cntry')[['ppltrst']].mean()

In [77]:
agg_join = agg_netustm.merge(agg_ppltrst,on='cntry')

In [79]:
agg_join.corr()

          netustm   ppltrst
netustm  1.000000 -0.744652
ppltrst -0.744652  1.000000